$c-black: rgb(10, 10, 10);
$c-white: rgb(233, 233, 233);
$c-grey: rgb(127, 127, 127);

$c-grey-lighter: rgb(233, 233, 233);

/* Alice blue */
$c-blue-lighter: #F0F8FF;
$c-blue-dark: #0A0E1C;

$c-black-translucent: rgba(0, 0, 0, 0.5);
$c-transparent: rgba(0, 0, 0, 0);

$c-shadow: rgba(0, 0, 75, 0.2);

$c-fg: $c-black;
$c-bg: $c-white;
