@import './colors.scss';
@import './media-queries.scss';

$cell-border-width: 2px;
$grid-padding: $cell-border-width / 2;

.grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: $grid-padding;
    box-sizing: border-box;

    ul {
        margin: 0;
    }

    img {
        /* so that images shrink to fit in grid in Chrome */
        min-width: 0;
    }
}

.grid__row {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;

    @media (min-width: $bp-phablet) {
        flex-direction: row;
    }
    /* override inline height on mobile */
    @media (max-width: $bp-phablet) {
        height: auto !important;
        min-height: auto !important;
    }
}

.grid__col {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}

.grid__cell {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    border: $cell-border-width solid $c-grey-lighter;
    box-sizing: border-box;
    /* 100vw * 9 / 16 */
    height: 56.25vw;
    min-height: 56.25vw;

    @media (min-width: $bp-phablet) {
        height: auto;
        min-height: auto;
    }
}

.grid__cell--background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;

    transform: scale(1);
    transition: transform 300ms;
}

.grid__cell--overlay {
    opacity: 0;
    background-color: $c-black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 300ms ease-in;
}


@media (min-width: $bp-tablet-width-max) {
    .grid__cell:hover {
        .grid__cell--background {
            transform: scale(1.05);
        }

        .grid__cell--overlay {
            opacity: 0.5;
        }
    }
}

.grid__cell--copy {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    text-align: center;
    line-height: 1.5;
    background-image: linear-gradient($c-transparent, $c-black-translucent);

    @media (min-width: $bp-tablet-width-max) {
        width: 80%;
        height: auto;
        top: 50%;
        left: 50%;
        bottom: auto;
        padding: 0;
        transform: translate(-50%, -50%);
        background: none;
        transition: opacity 500ms ease-out;
        opacity: 0;
    }

    h1, h2 {
        position: relative;
        color: $c-bg;
        flex: 1 0 auto;
    }

    h2 {
        font-size: 18px;

        @media (min-width: $bp-phablet) {
            display: none;
        }

        @media (min-width: $bp-tablet-width-max) {
            display: block;
        }
    }

    h1 {
        font-weight: bold;
        font-size: 20px;

        @media (min-width: $bp-phablet) {
            font-size: 18px;
        }

        @media (min-width: $bp-tablet-width-max) {
            font-size: 24px;
        }
    }
}

.grid__cell:hover .grid__cell--copy {
    opacity: 1;
}