@import './media-queries.scss';

.menu {
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;

    @media (min-width: $bp-phablet) {
        display: none;
    }
}

@media (max-width: $bp-phablet) {
    #nav a, menu {
        display: none;
    }
    #nav:not(:target) .menu-open {
        display: block;
    }
    #nav:target .menu-open {
        display: none;
    }
    #nav:target a {
        display: block;
    }
}