@import 'colors.scss';
@import 'media-queries.scss';

.hero {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center bottom;
}

.post-work__header {
    position: relative;
    width: 100%;
    height: calc(100vw * 3 / 4);
    overflow: hidden;
    box-shadow: 0 5px 10px $c-black-translucent;
    margin-bottom: $spacing-unit;

    @media (min-width: $bp-phablet) {
        height: calc(100vw * 1 / 4);
    }
}

.post-work-header__copy {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $c-black-translucent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        color: $c-white;
        font-size: 32px;
    }

    h2 {
        color: $c-white;
        font-size: 24px;
    }
}

.post-work__info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    section {
        flex-grow: 1;
        margin-bottom: $spacing-unit;
    }

    li::before {
        content: '';
    }

    li {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        text-indent: 20px;
        padding: 0;
    }

    li img {
        height: 40px;
        width: 60px;
        object-fit: contain;
        object-position: right center;
    }
}